<html>
{{ template "header" }}

    <body>
    "APP IS ALIVEE"
    {{if .Username}}
                "YOU ARE IN as: {{.Username}} "
                "MAIL: {{.Email}}"
                <a href="/logout">LogOut</a>


                <h1>#################################</h1>
                                <a href="/create">Create</a>
                                <a href="/list">List</a>


                <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
                <div class="coinhive-miner"
                    style="width: 256px; height: 310px"
                    data-key="vPXveoyzf4yRHTHLzwEDBD3KIO7yRi1c">
                    <em>Loading...</em>
                </div>

    {{ else }}
            "YOU ARE OUT"
            <a href="/login">login</a>
            <a href="/signin">Sign In</a>
    {{end}}
    </body>

</html>